spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  jwt:
    issuer: re-fit
    access-exp-ms: 600000 # 10분
    refresh-exp-ms: 1209600000 # 2주

  jackson:
    property-naming-strategy: SNAKE_CASE

springdoc:
  swagger-ui:
    url: /v3/api-docs
    disable-swagger-default-url: true
  api-docs:
    enabled: true

server:
  forward-headers-strategy: framework
